*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
}
/*apply style to the header*/
 header {
    background-color:#39a6b2;
    padding: 20px 35px;
 }

 header h1{
     font-weight: heavy;
     font-size: 36;
     color: #fce138;
     margin: 0;
     display: inline;
     
 }

 header a{
     color: #fce138;
     text-decoration: none;
 }

 /* place the navigation to the upper right of the page*/
 header nav{
     float: right;
     margin: 7px O;
 }

 /* make the nav headings display in a row horizontally*/
 header nav ul li{
     display:inline;
 }

/* spread the navigation headings out with bigger font*/
 nav ul li a{
     font-weight: lighter;
     font-size: 22px;
     margin: 0 30px;
 }

 /* styling the footer*/
 footer{
     background-color:#fce138;
     padding: 40px 35px;
     width: 100%;
 }
 footer h2{
     font-size: 30;
     color: #024e76;
     display: inline;
     margin: 0;
 }
 footer div{
     float: right;
     line-height: 1.5;
     text-align: right; 
 }
 footer a{
     color: #024e76;
 }
 /*  */